<html>
<head>
    <title>大家来看看我的xp系统</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    大家来看看我的xp系统<br>
    淦哦老兄，你的xp好jb怪哦<br>
    <p>
        <form name="scanpath" action="/scanpath" method="post">
            <input type='hidden' name='page' value='1'/>
            <a href="javascript:document.scanpath.submit();" >扫描目录</a>
        </form>
    </p>


    <p>
        选择你的xp标签
        <a href="/index">全部</a>
        {{ range $i, $label := .labelList }}
            <a href="/index?label={{ $label }}"> {{ $label }} </a> 
        {{ end }}
    </p>


    <!-- <p>
        选择你的lp
        <a href="/index">我全都要</a>
        {{ range $i, $lp := .performerList }}
            <a href="/index?performer={{ $lp }}"> {{ $lp }} </a> 
        {{ end }}
    </p> -->


    <div>
        {{ range $i, $file := .MMDFileList }}
        <div class="item">
            <a href="/video?vid={{ $file.Id }}">
            <img src="{{ $file.CoverUrl }}" class="item-cover"> <br>
            {{ $file.Name }}
            </a>
        </div>
        {{ end }}
    </div>
    
</body>
</html>