<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <title>大家来看看我的xp系统</title>
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>
    <script src="https://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
    
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js"></script>
</head>

<body>

<div id="body">

    <h4>大家来看看我的xp系统。淦哦老兄，你的xp好jb怪哦.jpg</h4>
    
    <div id="head">
        <button class="btn-default" id="cmd-scanpath">扫描目录</button>
        <button class="btn-default" id="cmd-extractcover">提取视频封面</button>

        <div id="box-job-plan-msg">
            <!-- 任务进度条 -->
            <div id="msg-plan"></div>
            <div id="msg-txt"></div>
        </div>
    </div>


    <div id="filter-list">
        <!-- 视频筛选条件列表 -->
    </div>

    <div id="video-list">
        <!-- 视频列表 -->
    </div>

    <!-- <iframe src="/video-list" frameborder="0" scrolling="no" height="100%" width="100%"></iframe> -->

</div>

</body>

<script>
    var ws_url = "{{ .ws_url }}"
    var ws_jobplan = new WebSocket(ws_url+"/ws-jobplan");
    //连接打开时触发
    ws_jobplan.onopen = function(evt) {
        //document.getElementById("msg").innerText = "Connection open ...";
        //console.log("Connection open ...");
        //ws_jobplan.send("ping");
    };
    //接收到消息时触发
    ws_jobplan.onmessage = function(evt) {
        var msg_str = Base64.decode(evt.data);
        var msg = JSON.parse(msg_str);

        //判断是否需要拦截并执行操作，否则直接打印消息
        if (msg.txt == "指令：刷新页面") {
            location.reload(true);
        }else {
            document.getElementById("msg-txt").innerText = msg.txt;
            //进度条根据plan变长
            document.getElementById("msg-plan").style.width = 200*msg.plan + 'px';
            if (msg.plan == 1) {
                //当进度到达1时，变为绿色
                document.getElementById("msg-plan").style.background = "green";
            }
        }
    };
    //连接关闭时触发
    ws_jobplan.onclose = function(evt) {
        //document.getElementById("msg").innerText = "Connection closed."
        //console.log("Connection closed.");
    };
    
    //按钮事件
    document.getElementById("cmd-scanpath").onclick = function() {
        ws_jobplan.send("cmd-scanpath");
    }
    document.getElementById("cmd-extractcover").onclick = function() {
        ws_jobplan.send("cmd-extractcover");
    }

    //第一次打开页面时，展示视频列表
    $(document).ready(getVideoListByAjax(""));

</script>

</html>