<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>大家来看看我的xp系统</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>
</head>

<body>
    大家来看看我的xp系统<br>
    淦哦老兄，你的xp好jb怪哦<br>
    <p>
        <form name="scanpath" action="/scanpath" method="post">
            <input type='hidden' name='page' value='1'/>
            <a href="javascript:document.scanpath.submit();" >扫描目录</a>
        </form>
    </p>

    <p>
        <!-- <form name="extractcover" action="/extractcover" method="post">
            <input type='hidden' name='page' value='1'/>
            <a href="javascript:document.extractcover.submit();" >提取视频封面</a>
        </form> -->
        <button id="extractcover">提取视频封面</button>
    </p>

    <p>
        <div id="msg-plan" style="width: 0px; height: 10px; background:rgb(41, 185, 221);"></div>
        <div id="msg-txt"></div>
    </p>

    <p>
        选择你的xp标签
        <a href="/index">全部</a>
        {{ range $i, $label := .labelList }}
            <a href="/index?label={{ $label }}"> {{ $label }} </a> 
        {{ end }}
    </p>

    <p>
        选择你的lp
        <a href="/index">我全都要</a>
        {{ range $i, $lp := .performerList }}
            <a href="/index?performer={{ $lp }}"> {{ $lp }} </a> 
        {{ end }}
    </p>


    <div>
        {{ range $i, $file := .MMDFileList }}
        <div class="video-item">
            <a href="/video?vid={{ $file.Id }}">
            <img class="video-cover" src="{{ $file.CoverUrl }}"> <br>
            {{ $file.Name }}
            </a>
        </div>
        {{ end }}
    </div>
    
</body>

<script>
    var ws_jobplan = new WebSocket("ws://localhost:8004/ws-jobplan");  
    //连接打开时触发
    ws_jobplan.onopen = function(evt) {
        //document.getElementById("msg").innerText = "Connection open ...";
        //console.log("Connection open ...");
        //ws_jobplan.send("ping");
    };
    //接收到消息时触发
    ws_jobplan.onmessage = function(evt) {
        var msg_str = Base64.decode(evt.data);
        var msg = JSON.parse(msg_str);
        document.getElementById("msg-txt").innerText = msg.txt;

        //进度条根据plan变长
        document.getElementById("msg-plan").style.width = 200*msg.plan + 'px';
        if (msg.plan == 1) {
            //当进度到达1时，变为绿色
            document.getElementById("msg-plan").style.background = "green"
        }
    };
    //连接关闭时触发
    ws_jobplan.onclose = function(evt) {
        //document.getElementById("msg").innerText = "Connection closed."
        //console.log("Connection closed.");
    };
    
    //按下“提取视频封面”按钮时
    document.getElementById("extractcover").onclick = function() {
        ws_jobplan.send("extractcover");
    }
</script>

</html>